%h4 Quantified Self meetup map
= gmaps({ map_options: {center_longitude: 180, auto_zoom: true, auto_adjust: true}, markers: {data: @markers} })                

%br
%h4 Quantified Self meetup groups                                                                
%table.table.table-striped.table-bordered
  %tbody
    %tr
      %th Group
      %th Latitude
      %th Longitude
      %th Members
    - @quantifiers.each do |quantifier|
      %tr
        %td= link_to quantifier.place, quantifier
        %td= quantifier.latitude
        %td= quantifier.longitude
        %td= quantifier.members
%br
