#group_details
  %h1= @quantifier.name
  .meetup_link= link_to "View on Meetup.com", "http://meetup.com/#{@quantifier.url}"
  .members= pluralize @quantifier.members, 'member'
  .description= @quantifier.description
  .organizers
    %strong Organized by:
    = @quantifier.orgianizer
  = gmaps({ map_options: {type: "ROADMAP", auto_zoom: false, zoom: 12}, markers: { data: @quantifier.to_gmaps4rails}  })                            
