<p id="notice"><%= notice %></p>
<br />
<br />
<div id='group_details'>
  <h1><%= @quantifier.name %></h1>
  <hr />
  <div class="left largegap">
    <%unless @quantifier.photo_path.blank? %>
      <%= image_tag @quantifier.photo_path %>  
    <%end%>  
  </div>
  <div class="left">
    <h4><%= @quantifier.id %></h4>
 
  </div>  
  
  <br class='clear' /> 
  <div><p><%= @quantifier.description %></p></div>
  <br /> 
  <p>
    <b>visibility:</b>
    <%= @quantifier.visibility %>
  </p>

  <p>
    <b>members:</b>
    <%= @quantifier.members %>
  </p>
 
 

  <p>
    <b>city:</b>
    <%= @quantifier.city %>
  </p>

  <p>
    <b>country:</b>
    <%= @quantifier.country %>
  </p>

  <p>
    <b>zip:</b>
    <%= @quantifier.zip %>
  </p>

  <p>
    <b>lat:</b>
    <%= @quantifier.latitude %>
  </p>

  <p>
    <b>lon:</b>
    <%= @quantifier.longitude %>
  </p>

  <p>
    <b>Organizer:</b>
    <%=  @quantifier.orgianizer  %>
  
  </p>
  
   <%= gmaps({
    "map_options" => {"type" => "ROADMAP", "auto_zoom" => false, :zoom => 12} ,
    "markers"     => { "data" => @quantifier.to_gmaps4rails } 
    })
    %>
    
 
</div> 


